################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorForms
/BlazorForms/bin/Debug/net5.0
/BlazorForms/obj
/BlazorFormsAPI/bin/Debug/net5.0
/BlazorFormsAPI/obj
/BlazorTests/obj
/BlazorTests/bin
/.vs/ProjectEvaluation
