################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorForms
/BlazorForms/bin
/BlazorForms/obj
/BlazorFormsAPI/bin
/BlazorFormsAPI/obj
/BlazorFormsAuthAPI/bin
/BlazorFormsAuthAPI/obj
/BlazorTests/obj
/BlazorTests/bin
/Shared/bin
/Shared/obj
/.vs/ProjectEvaluation
