################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlazorForms
/BlazorForms/bin
/BlazorForms/obj
/BlazorFormsAPI/bin
/BlazorFormsAPI/obj
/BlazorTests/obj
/BlazorTests/bin
/.vs/ProjectEvaluation
