@inherits LayoutComponentBase

@inject IAccountService accountSvc
@inject ILocalStorageService localStorageSvc


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @_email
        </div>

        <div class="content px-4">
            @Body

            <BlazoredToasts Position="ToastPosition.BottomRight"
                            Timeout="10"
                            ShowProgressBar="true" />
        </div>
    </div>
</div>

@code {
    private string _email;

    protected async override Task OnInitializedAsync()
    {
        ApiResponse<User> result = await accountSvc.ValidateUser();
        if (result.Status == ResponseStatus.Success)
        {
            await localStorageSvc.SetValue("token", result.Data.Token);
            _email = result.Data.Email;

        }
    }

    public async Task Dispose()
    {
        await localStorageSvc.Clear();     
    }
}
