@page "/counter"
@attribute [Authorize]

@inject ILogger<Counter> logger;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

@*<AuthorizeView>
    <Authorized>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>
    <NotAuthorized>
        You are not authorized
    </NotAuthorized>
    <Authorizing>
        Verifing
    </Authorizing>
</AuthorizeView>*@

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private int currentCount = 0;

    private async void IncrementCount()
    {
        logger.LogInformation("Calling IncrementCount function");
        var authState = await authenticationState;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            currentCount += 5;
        }
        else
        {
            currentCount -= 5;   
        }
    }
}
