<h3>Child</h3>

<div>
    I'm a child component
    <div>
        <button @onclick=SendMessageToParentComponent>Send message to parent component</button>
    </div>
</div>

<div>
    Message for parent component: @MessageFromParentComponent
</div>

@code {
    [Parameter]
    public string MessageFromParentComponent { get; set; }

    [Parameter]
    public EventCallback<string> SendMessageToParentComponentEvent { get; set; }

    private void SendMessageToParentComponent()
    {
        SendMessageToParentComponentEvent.InvokeAsync("Parent component you are not my father!!!");     
    }
}
