@page "/parent"

<div>
    <div>
        <h3>Parent</h3>
        I'm a parent component
    </div>
    <div>
        <button @onclick=@(() => SendMessageToChildComponent())>Send Message to child component</button>
    </div>
    <div>
        Message from child component: @childMessage 
    </div>
</div>
<br />
<div>
    <Child 
        MessageFromParentComponent="@message" 
        SendMessageToParentComponentEvent="ChildMessagingHandler"></Child>
</div>


@code {
    private string message;
    private string childMessage;

    private void SendMessageToChildComponent()
    {
        message = "Child component I'm your father!!!";        
    }

    private void ChildMessagingHandler(string message)
    {
        childMessage = message;         
    }
}
